<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MIPT campus map iframe</title>
</head>
<body>
<iframe src="/map" style="height: 400px; width: 600px;"></iframe>
</body>
</html>
