<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel = "stylesheet" href = "/css/style.css">
    <meta charset="UTF-8">
    <title>День спорта PI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div id="map" ></div>

<script defer type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
<script defer type="text/javascript" src="/js/map.js"></script>
<script defer type="text/javascript" src="/js/pointList.js"></script>
<script defer type="text/javascript" src="/js/init.js"></script>
</body>
</html>