@font-face {
    font-family: HelveticaNeueItalic; /* Гарнитура шрифта */
    src: url(/fonts/HelveticaNeueCyr-UltraLightItalic.otf); /* Путь к файлу со шрифтом */
}

@font-face{
    font-family: HelveticaBold;
    src:  url(/fonts/HelveticaBold.otf);
}

@font-face{
    font-family: HelveticaNeueRoman;
    src:  url(/fonts/HelveticaNeueRoman.otf);
}

*{
    font-family: HelveticaNeueRoman, sans-serif;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

body{
    overflow: hidden;
    margin: 0;
    height: 100vh;
    background-color: rgba(51, 51, 51, 0.9);
}

#map{
    position: relative;
    overflow: visible;
    width: 100vw;
    height: 100vh;
    background-position: center;
}

.map-block{
    position: absolute;
    top: 0;
    left: 0;
    float: left;
    background-size: contain;
}

/* Menu buttons styles */

.menu-button{
    z-index: 10000;
    width: 60px;
    height: 60px;
    position: absolute;
    background-size: cover;
    background-position: center;
    background-color: #005892;
    cursor: pointer;
}

#menu-button-search{
    top: 0;
    left: 0;
    background-image: url(/img/search.png);
}

#menu-button-increase-scale{
    top: 80px;
    left: 0;
    background-image: url(/img/ZoomIn.png);
}

#menu-button-decrease-scale{
    top: 145px;
    left: 0;
    background-image: url(/img/ZoomOut.png);
}

#menu-button-close{
    top: 0;
    right: 0;
    background-image: url(/img/cross.png);
}

/* Object information menus */

.point {
    position: absolute;
    border-radius: 5px;
    width: 10px;
    height: 10px;
    background-color: #9c0a09;
    overflow: hidden;
}

.pointer-container{
    position: absolute;
    /*min-height: 28px;*/
    overflow: visible;
    white-space: nowrap;
    z-index: 1000000;
}

@media(min-width: 800px) {
    .pointer-info {
        display: inline-block;
        vertical-align: top;
        padding: 8px 7px 5px 7px;
        max-width: 200px;
        min-height: 16px;
        background-color: #000;
        color: #FFF;
        font-size: 16px;
        font-family: HelveticaNeueCyr, sans-serif;
        white-space: normal;
    }

    .pointer-button{
        display: inline-block;
        vertical-align: top;
        margin-left: 2px;
        width: 30px;
        height: 30px;
        background-size: cover;
        background-position: center;
        background-color: #000000;
        cursor: pointer;
    }

    .ru{
        border-left: 5px solid #FD0D0C;
    }

    .ru::before{
        content: '';
        position: absolute;
        left: -5px;
        bottom: -28px;
        border: 7px solid transparent;
        border-left: 7px solid #FD0D0C;
        border-top: 14px solid #FD0D0C;
        border-bottom-width: 14px;
    }
}

@media(max-width: 800px) {
    .pointer-info {
        display: inline-block;
        vertical-align: top;
        padding: 4px 3px 2px 3px;
        max-width: 100px;
        min-height: 10px;
        background-color: #000;
        color: #FFF;
        font-size: 10px;
        font-family: HelveticaNeueCyr, sans-serif;
        white-space: normal;
    }

    .pointer-button{
        display: inline-block;
        vertical-align: top;
        margin-left: 2px;
        width: 15px;
        height: 15px;
        background-size: cover;
        background-position: center;
        background-color: #000000;
        cursor: pointer;
    }

    .ru{
        border-left: 4px solid #FD0D0C;
    }

    .ru::before{
        content: '';
        position: absolute;
        left: -4px;
        bottom: -6px;
        border: 3px solid #FD0D0C;
        border-right: 2px solid transparent;
        border-left-width: 2px;
        border-bottom-color: transparent;
    }
}

.pointer-inside-map{
    background-image: url('/img/object-info-inside-map.jpeg');
}

.pointer-photos{
    background-image: url('/img/object-info-photos.jpeg');
}

.pointer-locate{
    background-image: url('/img/object-info-locate.jpeg');
}

.pointer-close{
    background-image: url(/img/object-info-close.jpeg);
}