@font-face {
    font-family: HelveticaNeueItalic; /* Гарнитура шрифта */
    src: url(/static/fonts/HelveticaNeueCyr-UltraLightItalic.otf); /* Путь к файлу со шрифтом */
}

@font-face{
    font-family: HelveticaBold;
    src:  url(/static/fonts/HelveticaBold.otf);
}

@font-face{
    font-family: HelveticaNeueRoman;
    src:  url(/static/fonts/HelveticaNeueRoman.otf);
}

*{
    font-family: HelveticaNeueRoman, sans-serif;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    padding: 0;
    margin: 0;
    border: 0;
    word-wrap: break-word;
}

html, body {
    height: 100%;
}

::-webkit-scrollbar-button {
    background-repeat:no-repeat;
    width:5px;
    height:0;
}

::-webkit-scrollbar-track {
    background-color: #444;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: rgb(27, 193, 245);
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgb(27, 193, 245);
}

::-webkit-resizer{
    background-repeat: no-repeat;
    width: 4px;
    height: 0;
}

::-webkit-scrollbar{
    width: 4px;
}

body{
    overflow: hidden;
    margin: 0;
    height: 100%;
    font-size: 16px;
}

#map{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    background-position: center;
}

.map-block{
    position: absolute;
    top: 0;
    left: 0;
    float: left;
    background-size: 100%;
}

/* Menu buttons styles */

.menu-button{
    z-index: 1000000;
    width: 60px;
    height: 60px;
    position: absolute;
    background-size: cover;
    background-position: center;
    background-color: #005892;
    cursor: pointer;
}

#menu-button-search{
    top: 0;
    left: 0;
    background-image: url(/static/img/search.png);
}

#menu-button-increase-scale{
    top: 80px;
    left: 0;
    background-image: url(/static/img/ZoomIn.png);
}

#menu-button-decrease-scale{
    top: 145px;
    left: 0;
    background-image: url(/static/img/ZoomOut.png);
}

#menu-button-close{
    top: 0;
    right: 0;
    background-image: url(/static/img/cross.png);
}

/* Object information menus */

.pointer-container{
    position: absolute;
    min-height: 28px;
    overflow: visible;
    white-space: nowrap;
    z-index: 1000000;
}

.ru, .rd {
    border-left: 5px solid #FD0D0C;
}

.lu, .ld {
    border-right: 5px solid #FD0D0C;
}

.ru::before, .lu::before, .rd::before, .ld::before {
    content: '';
    position: absolute;
    border: solid transparent;
    border-width: 14px 7px;
}

.ru::before, .lu::before {
    bottom: -28px;
    border-top-color: #FD0D0C;
}

.rd::before, .ld::before {
    top: -28px;
    border-bottom-color: #FD0D0C;
}

.ru::before, .rd::before {
    left: -5px;
    border-left-color: #FD0D0C;
}

.lu::before, .ld::before {
    right: -5px;
    border-right-color: #FD0D0C;
}

.pointer-info {
    display: inline-block;
    vertical-align: top;
    margin-right: 1px;
    padding: 7px 7px 6px 7px;
    min-height: 17px;
    max-width: 170px;
    background-color: #000;
    color: #FFF;
    font-size: 15px;
    font-family: HelveticaNeueCyr, sans-serif;
    white-space: normal;
}

.pointer-button{
    display: inline-block;
    vertical-align: top;
    margin: 0 1px;
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: center;
    background-color: #000000;
    cursor: pointer;
}

.pointer-inside-map{
    background-image: url(/static/img/object-info-inside-map.jpeg);
}

.pointer-photos{
    background-image: url(/static/img/object-info-photos.jpeg);
}

.pointer-locate{
    background-image: url(/static/img/object-info-locate.jpeg);
}

.pointer-close{
    background-image: url(/static/img/object-info-close.jpeg);
}

/* Detailed map styles */

#floor-map-container{
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10000000;
}

#floor-list {
    float: left;
    padding: 0 20px;
    width: 100px;
    overflow-y: auto;
    height: calc(100% - 40px);
    height: -moz-calc(100% - 40px);
    height: -webkit-calc(100% - 40px);
}

#floor-list p{
    position: relative;
    margin-top: 0;
    margin-bottom: 10px;
    font-family: HelveticaBold, sans-serif;
    font-size: 18px;
    color: lightgrey;
    cursor: pointer;
}

.floor-active-p{
    color: #FFFFFF;
}

.floor-active-p::before{
    content: '';
    position: absolute;
    left: -12px;
    top: calc(50% - 5px);
    top: -moz-calc(50% - 5px);
    top: -webkit-calc(50% - 5px);
    border: solid transparent 5px;
    border-left-color: #1D9FBF;
}

#floor-title {
    float: left;
    margin: 10px 50px 10px 190px;
    width: calc(100% - 160px);
    width: -moz-calc(100% - 160px);
    width: -webkit-calc(100% - 160px);
    min-height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 25px;
    color: #FFFFFF;
}

#floor-map{
    float: left;
    left: 10px;
    position: relative;
    margin-bottom: 10px;
    width: calc(100% - 160px);
    width: -moz-calc(100% - 160px);
    width: -webkit-calc(100% - 160px);
    height: calc(100% - 80px);
    height: -moz-calc(100% - 80px);
    height: -webkit-calc(100% - 80px);
    background-size: contain;
    overflow: visible;
}

#floor-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background-size: cover;
    background-image: url(/static/img/cross.png);
    background-position: center;
    cursor: pointer;
}

/* Navigation styles */

#search-container{
    display: none;
    z-index: 10000000;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 1%;
    width: 98%;
    height: 100%;
    background-color: rgba(10, 95, 150, 0.9);
}

#search-input-container{
    float: left;
    margin: 40px 25% 20px 25%;
    width: 50%;
    height: 50px;
}

#search-all-results-container{
    float: left;
    width: 100%;
    height: calc(100% - 160px);
    height: -moz-calc(100% - 160px);
    height: -webkit-calc(100% - 160px);
    overflow-y: scroll;
    overflow-x: visible;
}

#search-close{
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 60px;
    background-size: cover;
    background-image: url(/static/img/cross.png);
    background-position: center;
    cursor: pointer;
}

#search-input-text{
    float: left;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    padding: 5px;
    width: calc(100% - 60px);
    width: -moz-calc(100% - 60px);
    width: -webkit-calc(100% - 60px);
    height: 38px;
    background-color: transparent;
    font-size: 30px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    -webkit-user-select: auto;
}

#search-input-text:focus{
    outline: none;
}

#search-input-text::-webkit-input-placeholder{
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    color: #4F8FB5;
}

#search-input-text::placeholder {
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    color: #4F8FB5;
}

#search-input-text::-moz-placeholder {
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    color: #4F8FB5;
}


#search-input-submit{
    float: left;
    border: none;
    border-bottom: solid 1px #FFFFFF;
    padding: 0;
    width: 49px;
    height: 49px;
    background-image: url(/static/img/cross.png);
    background-color: transparent;
    background-size: cover;
    cursor: pointer;
}

#search-full-list-container{
    float: left;
}

#search-input-submit:focus{
    outline: none;
}

#search-left-col{
    float: left;
    width: 30%;
}

#search-mid-col{
    float: left;
    width: 35%;
}

#search-right-col{
    float: left;
    width: 35%;
}

.search-column{
    float: left;
    margin-bottom: 40px;
    padding: 0;
    width: 100%;
}

.search-column-h{
    float: left;
    color: #FFFFFF;
    margin: 0 10% 20px 10%;
    padding: 8px;
    width: 80%;
    font-size: 1.5em;
}

.search-column-h2{
    float: left;
    color: #FFFFFF;
    margin: 0 0 20px 0;
    padding: 8px;
    width: 80%;
    font-weight: bold;
    font-size: 1.5em;
}

.search-department-container{
    float: left;
    margin-left: 10%;
    width: 90%;
}

#search-list-container{
    float: left;
    margin: 0 25%;
    width: 50%;
    min-height: 100%;
}

.search-department, .search-employee{
    float: left;
    clear: both;
    padding: 5px 8px;
    min-height: 20px;
    font-size: 14px;
    line-height: 19px;
    font-family: Helvetica, sans-serif;
    color: #0AC8FA;
    cursor: pointer;
    word-wrap: break-word;
}

.search-department{
    position: relative;
    top: 0;
    left: 0;
    width: 80%;
}

.search-employee{
    max-width: calc(100% - 58px);
    max-width: -moz-calc(100% - 58px);
    max-width: -webkit-calc(100% - 58px);
}

.search-department-active{
    color: #FFFFFF;
}

.search-employee-active{
    color: #FFFFFF;
    background-color: #000000;
}

.search-employee-container{
    position: relative;
    float: left;
    width: 100%;
}

.search-employee-locate{
    float: left;
    margin-left: 2px;
    width: 40px;
    height: 30px;
    background-size: cover;
    background-image: url(/static/img/object-info-locate.jpeg);
    background-position: center;
    cursor: pointer;
}

.search-employee-list {
    float: left;
    margin-left: 20px;
    width: calc(100% - 20px);
    width: -moz-calc(100% - 20px);
    width: -webkit-calc(100% - 20px);
}

.search-department:hover{
    color: #FFFFFF;
}

.search-found{
    background-color: #FFFFFF;
    color: #000000;
    font-weight: bold;
}

#search-list-divisions > .search-department-container {
    margin-left: 0;
}

#navigation-search-cabinet {
    margin: 0 calc(50% - 110px) 10px;
    margin: 0 -moz-calc(50% - 110px) 10px;
    margin: 0 -webkit-calc(50% - 110px) 10px;
    border: none;
    padding: 10px;
    width: 200px;
    color: #FFF;
    font-size: 1em;
    text-align: center;
    background-color: #000;
    cursor: pointer;
}

#navigation-search-cabinet-question {
    border-bottom: 1px dotted #FFF;
}

#navigation-search-cabinet-help {
    display: none;
    text-align: left;
    margin-top: 10px;
    font-size: 0.8em;
    font-weight: bold;
}

#navigation-search-cabinet-help li {
    margin-left: 20px;
}

@-webkit-keyframes loader {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-moz-keyframes loader {
	100% {
		-moz-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes loader {
	100% {
		transform: rotate(360deg);
	}
}

.loader {
    z-index: 10500000;
    border-radius: 100%;
	-webkit-animation: loader 0.5s infinite linear;
	-moz-animation: loader 0.5s infinite linear;
	animation: loader 0.5s infinite linear;
}

/*noinspection CssOverwrittenProperties*/
.search-loader-container {
    z-index: 10500000;
    float:left;
    padding: 0 calc(50% - 20px);
    padding: 0 -moz-calc(50% - 20px);
    padding: 0 -webkit-calc(50% - 20px);
    width: calc(20px);
    width: -moz-calc(20px);
    width: -webkit-calc(20px);
}

.search-loader {
    float: left;
	width: 10px;
	height: 10px;
	border: 3px solid #FFFFFF;
	border-right-color: transparent;
}

.employee-loader-container {
    z-index: 10500000;
    position: absolute;
    left: -30px;
    top: 5px;
    width: 20px;
}

.employee-loader {
    float: left;
	width: 10px;
	height: 10px;
	/*border: 6px solid #005892;*/
	border: 3px solid #FFFFFF;
	border-right-color: transparent;
}

/*noinspection ALL*/
.navigation-loader-container {
    z-index: 10500000;
    float: left;
    margin: 0 calc(50% - 25px);
    margin: 0 -moz-calc(50% - 25px);
    margin: 0 -webkit-calc(50% - 25px);
    width: 50px;
}

.navigation-loader {
    float: left;
	width: 50px;
	height: 50px;
	/*border: 6px solid #005892;*/
	border: 3px solid #FFFFFF;
	border-right-color: transparent;
}

.floor-loader-container {
    z-index: 10500000;
    position:fixed;
    left: calc(50% - 25px);
    left: -moz-calc(50% - 25px);
    left: -webkit-calc(50% - 25px);
    top: calc(50% - 25px);
    top: -moz-calc(50% - 25px);
    top: -webkit-calc(50% - 25px);
    width: 50px;
}

.floor-loader {
    float: left;
	width: 50px;
	height: 50px;
	border: 6px solid #005892;
	border-right-color: transparent;
}

#errors {
    position: fixed;
    left: calc(50% - 100px);
    left: -moz-calc(50% - 100px);
    left: -webkit-calc(50% - 100px);
    top: 0;
    width: 200px;
    z-index: 11000000;
}

.error {
    position: relative;
    float: left;
    margin-top: 5px;
    padding: 10px;
    background-color: #000000;
    color: #FFF;
    clear: both;
    z-index: 11000000;
}

#photos-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10000000;
}

/*noinspection CssOptimizeSimilarProperties*/
.photos-button {
    position: absolute;
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

#photos-cross {
    top: 0;
    right: 0;
    background-image: url(/static/img/cross.png);
}

#photos-prev {
    left: 0;
    background-image: url(/static/img/back.png);
}

#photos-next {
    right: 0;
    background-image: url(/static/img/next.png);
}

@media (max-width: 800px) {
    #floor-title {
      font-size: 0.7em;
    }

    #search-left-col, #search-right-col, #search-mid-col {
        width: 100%;
    }
}

/****/

#manage-map {
    float: left;
    width: calc(100% - 250px);
    width: -moz-calc(100% - 250px);
    width: -webkit-calc(100% - 250px);
    height: 100%;
    background-color: #bababa;
    overflow: hidden;
    z-index: 1;
}

#controls {
    float: left;
    position: fixed;
    right: 0;
    padding: 10px;
    width: 230px;
    height: 100%;
    background-color: rgba(10, 95, 150, 0.9);
    color: #FFF;
    z-index: 10000000;
    overflow-y: auto;
}

#controls button {
    position: static;
    float: left;
    margin: 1px;
    padding: 5px;
    background-color: #000;
    color: #FFF;
    text-align: center;
    cursor: pointer;
}

#controls button:focus {
    outline: none;
}

#controls li {
    margin: 5px;
    cursor: pointer;
}

#controls a {
    color: #fff
}

#floors-list {
    border-bottom: 2px solid #000;
    max-height: calc(20% - 2px);
    overflow-x: hidden;
    overflow-y: auto;
    word-wrap: break-word;
}

#objects-list {
    margin-top: 10px;
    border-bottom: 2px solid #000;
    max-height: calc(65% - 156px);
    overflow-x: hidden;
    overflow-y: auto;
    word-wrap: break-word;
}

#editing {
    position: absolute;
    bottom: 40px;
    height: 104px;
    width: calc(100% - 20px);
    font-size: 14px;
}

#buttons {
    float: left;
    width: 100%;
}


#edit-menu {
    display: none;
}

#edit-title {
    margin: 1px;
    border: none;
    padding: 5px;
    width: calc(100% - 12px);
    height: 14px;
}

#edit-title {
    outline: none;
}

#edit-add-vertex, #edit-add-rectangle {
    width: calc(100% - 2px);
    width: -webkit-calc(100% - 2px);
    width: -moz-calc(100% - 2px);
    height: 24px;
}

#edit-cancel, #edit-delete {
    width: calc(30% - 2px);
    width: -webkit-calc(30% - 2px);
    width: -moz-calc(30% - 2px);
    height: 24px;
}

#edit-save {
    width: calc(40% - 2px);
    width: -webkit-calc(40% - 2px);
    width: -moz-calc(40% - 2px);
    height: 24px;
}

#current-action {
    position: absolute;
    bottom: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #ccc;
}

.point {
    float: left;
    position: absolute;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    width: 4px;
    height: 4px;
    background-color: #005892;
    cursor: pointer;
}